In Class Assignment - Stripped Example/MathExceptions/MathExcptClient/Service References/MathException/MathException.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DivisionExample">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numerator" type="xs:int" />
        <xs:element minOccurs="0" name="denominator" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionExampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivisionExampleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormattingError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormattingErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormattingErrorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionExampleSoapMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numerator" type="xs:int" />
        <xs:element minOccurs="0" name="denominator" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionExampleSoapMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivisionExampleSoapMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormattingErrorSoapMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormattingErrorSoapMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormattingErrorSoapMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>