MIDTERM/midterm_problem1/midtermproblem1/Service References/Banking/Bankservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test">
        <s:complexType />
      </s:element>
      <s:element name="testResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="testResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBankInformation">
        <s:complexType />
      </s:element>
      <s:element name="GetBankInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBankInformationResult" type="BankInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BankInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OwnerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accounts" type="ArrayOfAccountInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAccountInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountInfo" type="AccountInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="BankInformation" type="BankInformation" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="testSoapIn">
    <wsdl:part name="parameters" element="test" />
  </wsdl:message>
  <wsdl:message name="testSoapOut">
    <wsdl:part name="parameters" element="testResponse" />
  </wsdl:message>
  <wsdl:message name="GetBankInformationSoapIn">
    <wsdl:part name="parameters" element="GetBankInformation" />
  </wsdl:message>
  <wsdl:message name="GetBankInformationSoapOut">
    <wsdl:part name="parameters" element="GetBankInformationResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="string" />
  </wsdl:message>
  <wsdl:message name="testHttpGetIn" />
  <wsdl:message name="testHttpGetOut">
    <wsdl:part name="Body" element="int" />
  </wsdl:message>
  <wsdl:message name="GetBankInformationHttpGetIn" />
  <wsdl:message name="GetBankInformationHttpGetOut">
    <wsdl:part name="Body" element="BankInformation" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="string" />
  </wsdl:message>
  <wsdl:message name="testHttpPostIn" />
  <wsdl:message name="testHttpPostOut">
    <wsdl:part name="Body" element="int" />
  </wsdl:message>
  <wsdl:message name="GetBankInformationHttpPostIn" />
  <wsdl:message name="GetBankInformationHttpPostOut">
    <wsdl:part name="Body" element="BankInformation" />
  </wsdl:message>
  <wsdl:portType name="BankingServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="HelloWorldSoapIn" />
      <wsdl:output message="HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:input message="testSoapIn" />
      <wsdl:output message="testSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBankInformation">
      <wsdl:input message="GetBankInformationSoapIn" />
      <wsdl:output message="GetBankInformationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BankingServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="HelloWorldHttpGetIn" />
      <wsdl:output message="HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:input message="testHttpGetIn" />
      <wsdl:output message="testHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBankInformation">
      <wsdl:input message="GetBankInformationHttpGetIn" />
      <wsdl:output message="GetBankInformationHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BankingServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="HelloWorldHttpPostIn" />
      <wsdl:output message="HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:input message="testHttpPostIn" />
      <wsdl:output message="testHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBankInformation">
      <wsdl:input message="GetBankInformationHttpPostIn" />
      <wsdl:output message="GetBankInformationHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankingServiceSoap" type="BankingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap:operation soapAction="/test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankInformation">
      <soap:operation soapAction="/GetBankInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BankingServiceSoap12" type="BankingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap12:operation soapAction="/test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankInformation">
      <soap12:operation soapAction="/GetBankInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BankingServiceHttpGet" type="BankingServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <http:operation location="/test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankInformation">
      <http:operation location="/GetBankInformation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BankingServiceHttpPost" type="BankingServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <http:operation location="/test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankInformation">
      <http:operation location="/GetBankInformation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankingService">
    <wsdl:port name="BankingServiceSoap" binding="BankingServiceSoap">
      <soap:address location="http://34.229.220.156/BankingService/Bankservice.asmx" />
    </wsdl:port>
    <wsdl:port name="BankingServiceSoap12" binding="BankingServiceSoap12">
      <soap12:address location="http://34.229.220.156/BankingService/Bankservice.asmx" />
    </wsdl:port>
    <wsdl:port name="BankingServiceHttpGet" binding="BankingServiceHttpGet">
      <http:address location="http://34.229.220.156/BankingService/Bankservice.asmx" />
    </wsdl:port>
    <wsdl:port name="BankingServiceHttpPost" binding="BankingServiceHttpPost">
      <http:address location="http://34.229.220.156/BankingService/Bankservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>